
/*** Footer Start ***/
.footer .footer-item .btn-link {
    line-height: 35px;
    color: rgba(255, 255, 255, .5);
    transition: 0.5s;
  }
  
  .footer .footer-item .btn-link:hover {
    color: var(--bs-secondary) !important;
  }
  
  .footer .footer-item p.mb-4 {
    line-height: 35px;
  }
  /*** Footer End ***/
  
.heading-cont{
  height: 50px;
  width: 40px;
  padding-bottom: 14px;
}  
.navbar-brand{
  display: flex;
  align-items: center;
  gap: 10px;
}
.topbar.hidden {
  display: none !important;
}